.DS_Store
node_modules/
.env

# Astro
.astro/
dist/
out/
.vercel
.netlify

# Rust
target/
**/*.rs.bk
*.pdb

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo
